<div class="container-fluid">
  <div class="row" style="height: 250px; text-align: justify">
    <div class="col-4">
      <p class="title1">KHU NGHỈ DƯỠNG ĐẲNG CẤP THẾ GIỚI, FURAMA ĐÀ NẴNG, <br>
        NỔI TIẾNG LÀ KHU NGHỈ DƯỠNG ẨM THỰC TẠI VIỆT NAM.</p>
    </div>
    <div class="col-4">
      <a><img src="static/img/1111.jpg" style="width: 100%; height: 70%" class="img3"
              alt="Los Angeles"></a>
    </div>
    <div class="col-4">
      <p>Hướng ra bãi biển Đà Nẵng trải dài cát trắng,<br>
        Furama Resort Đà Nẵng là cửa ngõ đến với 3 di sản văn hoá thế<br>
        giới: Hội An (20 phút), Mỹ Sơn (90 phút) và Huế (2 tiếng. <br>
        196 phòng hạng sang cùng với 70 căn biệt thự từ hai đến bốn <br>
        phòng ngủ có hồ bơi riêng đều được trang trí trang nhã, <br>
        theo phong cách thiết kế truyền thống của Việt Nam và kiến <br>
        trúc thuộc địa của Pháp, biến Furama thành khu nghỉ dưỡng danh <br>
        giá nhất tại Việt Nam – vinh dự được đón tiếp nhiều người nổi <br>
        tiếng, giới hoàng gia, chính khách, ngôi sao điện ảnh và các nhà <br>
        lãnh đạo kinh doanh quốc tế.</p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row" style="height: 330px">
    <div class="col-2" style="background-color: antiquewhite"></div>
    <div class="col-4" style="background-color: beige">
      <h2 style="font-weight: normal; color: darkred; text-align: center">Hướng Dẫn Di Chuyển</h2>
      <p>Khu nghỉ dưỡng Furama là cơ sở hàng đầu để khám phá một trong những điểm đến hấp dẫn nhất Châu Á.
        Chỉ
        cách Đà Nẵng một quãng lái xe ngắn là bốn Di sản Văn hóa Thế giới được UNESCO công nhận:</p>
      <ul>
        <li>
          <p>Cố đô Huế</p>
        </li>
        <li>
          <p>Phố Cổ Hội An</p>
        </li>
        <li>
          <p>Thánh Địa Mỹ Sơn</p>
        </li>
        <li>
          <p>Động Phong Nha</p>
        </li>
      </ul>
    </div>
    <div class="col-6" style="background-color: cornsilk">
      <h2 style="text-align: center">Liên hệ</h2>
      <p><span style="position: center"><ion-icon name="location-outline"></ion-icon></span>
        <span class="from">103 - 105 Vo Nguyen Giap Street,
                    Khue My Ward, Ngu Hanh Son District, Danang City, Vietnam.</span></p>
      <br>
      <p><span style="position: center"><ion-icon name="call-outline"></ion-icon></span>
        <span class="from">Tel: 84-236-3847 333/888</span></p>
      <br>
      <p><span style="position: center"><ion-icon name="megaphone-outline"></ion-icon></span>
        <span class="from">Fax: 84-236-3847 666</span></p>
      <br>
      <p><span style="position: center"><ion-icon name="mail-outline"></ion-icon>
        </ion-icon></span>
        <span class="from">Email: reservation@furamavietnam.com</span></p>
      <br>
      <p><span style="position: center"><ion-icon name="logo-web-component"></ion-icon>
        </ion-icon></span>
        <span class="from">www.furamavietnam.com GDS Codes: Amadeus-GD DADFUR</span></p>
      <br>
    </div>
  </div>
</div>
