<div class="container-fuild">
  <div class="row" style="display: flex">
    <div style="width: 20%"></div>
    <div style="width: 60%">
      <h1 class="text-center my-5">Create Contract</h1>
      <form>
        <div class="container">
          <table class="table table-striped">
            <tr>
              <td><label>Day start</label></td>
              <td><input class="form-control" type="date"></td>
            </tr>
            <tr>
              <td><label>Day end</label></td>
              <td><input class="form-control" type="date"></td>
            </tr>
            <tr>
              <td><label>Deposits</label></td>
              <td><input class="form-control" type="text"></td>
            </tr>
            <tr>
              <td><label>Total money</label></td>
              <td><input class="form-control" type="text"></td>
            </tr>
            <tr>
              <td><label>Employee</label></td>
              <td><select class="form-select">
                <option></option>
              </select></td>
            </tr>
            <tr>
              <td><label>Customer</label></td>
              <td><select class="form-select">
                <option>
                </option>
              </select></td>
            </tr>
            <tr>
              <td><label>Facility</label></td>
              <td><select class="form-select">
                <option>
                </option>
              </select></td>
            </tr>
            <tr>
              <td>
                <input type="submit" class="btn btn-success" value="Save">
                <a class="btn btn-secondary">Back</a>
              </td>
            </tr>
          </table>
        </div>
      </form>
    </div>
  </div>
  <div style="width: 20%"></div>
</div>
