
  <div class="container-fuild">
  <div class="row" style="display: flex">
    <div style="width: 20%"></div>
    <div style="width: 60%">
      <h2 class="text-center my-5">Create customer</h2>
      <form [formGroup]="customerForm" (ngSubmit)="submit()">
        <div class="container">
          <table class="table table-info table-hover">
            <thead>
            <tr>
              <th><label>Name</label></th>
              <td>
                <input class="form-control" type="text" formControlName="name">
                <p *ngIf="customerForm.controls.name.hasError('required') && customerForm.controls.name.touched">Không được để trống</p>
<!--                <p *ngIf="customerForm.controls.name.hasError('pattern') && customerForm.controls.name.touched">Không đúng định dạng</p>-->
              </td>
            </tr>
            <tr>
              <th><label>Day of birth</label></th>
              <td>
                <input class="form-control" type="date" formControlName="dayOfBirth">
                <p *ngIf="customerForm.controls.dayOfBirth.hasError('required') && customerForm.controls.dayOfBirth.touched">
                  Không được để trống</p>
              </td>
            </tr>
            <tr>
              <th><label>Gender</label></th>
              <td><select class="form-select" formControlName="gender">
                <option value="true">Nam</option>
                <option value="false">Nữ</option>
              </select>
                <p *ngIf="customerForm.controls.gender.hasError('required') && customerForm.controls.gender.touched">
                Không được để trống</p>
              </td>
            </tr>
            <tr>
              <th><label>Id card</label></th>
              <td>
                <input class="form-control" type="text" formControlName="idCard">
                <p *ngIf="customerForm.controls.idCard.hasError('required') && customerForm.controls.idCard.touched">
                  Không được để trống</p>
                <p *ngIf="customerForm.controls.idCard.hasError('pattern') && customerForm.controls.idCard.touched">
                  Không đúng định dạng</p>
              </td>
            </tr>
            <tr>
              <th><label>Number phone</label></th>
              <td><input class="form-control" type="text" formControlName="phoneNumber">
                <p
                  *ngIf="customerForm.controls.phoneNumber.hasError('required') && customerForm.controls.phoneNumber.touched">
                  Không được để trống</p>
                <p
                  *ngIf="customerForm.controls.phoneNumber.hasError('pattern') && customerForm.controls.phoneNumber.touched">
                  Không đúng định dạng</p>
              </td>
            </tr>
            <tr>
              <th><label>Email</label></th>
              <td><input class="form-control" type="text" formControlName="email">
                <p *ngIf="customerForm.controls.email.hasError('required') && customerForm.controls.email.touched">
                  Không được để trống</p>
                <p
                  *ngIf="customerForm.controls.email.hasError('email') && customerForm.controls.email.touched">
                  Không đúng định dạng</p>
              </td>
            </tr>
            <tr>
              <th><label>Address</label></th>
              <td><input class="form-control" type="text" formControlName="address">
                <p *ngIf="customerForm.controls.address.hasError('required') && customerForm.controls.address.touched">
                  Không được để trống</p>
              </td>
            </tr>
            <tr>
              <th><label>Customer type</label></th>
              <td><select class="form-select" formControlName="customerTypeId">
                <option *ngFor="let ct of customerType" [ngValue]="ct">{{ct.name}}</option>
              </select>
                <p *ngIf="customerForm.controls.customerTypeId.hasError('required') && customerForm.controls.customerTypeId.touched">
                  Không được để trống</p></td>
            </tr>
            <tr>
              <th>
                <input class="btn btn-success" type="submit" value="Save">
                <a class="btn btn-secondary" [routerLink]="['/customer-list']">Back</a>
              </th>
            </tr>
            </thead>
          </table>
        </div>
      </form>
    </div>
    <div style="width: 20%"></div>
  </div>
</div>

