<div class="container-fuild">
  <div class="row" style="display: flex">
    <div style="width: 25%"></div>
    <div style="width: 50%">
      <h2 class="text-center my-5">Tạo mới bệnh án</h2>
      <form [formGroup]="benhanForm" (ngSubmit)="submit()">
        <div class="row">
          <div class="form-floating mb-3">
            <input  class="form-control"  id="maBenhAn" type="text" formControlName="maBenhAn" placeholder="Nhập mã bệnh án"/>
            <label for="">Mã bệnh án</label>
          </div>

          <div class="form-floating mb-3">
            <select  id="selectType" name="" class="form-select" formControlName="benhNhan">
              <option value="">Mã bệnh nhân</option>
              <option  *ngFor="let b of benhNhan" [ngValue]="b.tenBenhNhan">{{b.maBenhNhan}}</option>
            </select>
          </div>

          <div class="form-floating mb-3">
            <input type="date" class="form-control" formControlName="ngayNhapVien" placeholder="Ngày nhập viện">
            <label for="">Ngày nhập viện</label>
          </div>

          <div class="form-floating mb-3">
            <input type="date" class="form-control" formControlName="ngayRaVien" placeholder="ngayRaVien">
            <label for="">Ngày ra viện</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" formControlName="liDo" placeholder="liDo">
            <label for="">Lí do</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" formControlName="phuongPhap" placeholder="phuongPhap">
            <label for="">Phương pháp</label>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" formControlName="bacSi" placeholder="bacSi">
            <label for="">Bác sĩ</label>
          </div>
        </div>
        <div class="d-grid">
          <button class="btn btn-success" type="submit" value="Save">Save</button>
          <a class="btn btn-secondary" [routerLink]="['/list']">Back</a>
        </div>
      </form>
    </div>
  </div>
</div>
