<div class="container-fuild">
  <div class="row" style="display: flex">
    <div style="width: 20%"></div>
    <div style="width: 60%"  >
      <h2 style="text-align: center">Create facility</h2>
      <table class="table table-striped">
        <tr>
          <th><label>Facility type</label></th>
          <td><select class="form-select">
            <option value="">---Option Type Facility---</option>
            <option value="1">House</option>
            <option value="2">Room</option>
            <option value="3">Villas</option>
          </select></td>
        </tr>
        <tr>
          <th><label>Name</label></th>
          <td><input class="form-control" type="text"></td>
        </tr>
        <tr>
          <th><label>Area</label></th>
          <td><input class="form-control" type="text"></td>
        </tr>
        <tr>
          <th><label>Cost</label></th>
          <td><input class="form-control" type="text"></td>
        </tr>
        <tr>
          <th><label>Max people</label></th>
          <td><input class="form-control" type="text"></td>

        </tr>
        <tr>
          <th><label>Rent type</label></th>
          <td><select class="form-select">
            <option value="1">year</option>
            <option value="2">month</option>
            <option value="3">day</option>
            <option value="4">hour</option>
          </select></td>
        </tr>

        <tr>
          <th><label>Facility free</label></th>
          <td><input class="form-control" type="text"></td>
        </tr>
        <tr>
          <th><label>Number of floors</label></th>
          <td><input class="form-control" type="text"></td>

        </tr>
        <tr>
          <th><label>Standard room</label></th>
          <td><input class="form-select"></td>

        </tr>
        <tr>
          <th><label>Description Other Convenience</label></th>
          <td><input class="form-control" type="text"></td>
        </tr>
        <tr>
          <th><label>Pool area</label></th>
          <td><input class="form-control" type="text"></td>
        </tr>
        <tr>
          <td>
            <input class="btn btn-success" type="submit" value="Save">
            <a class="btn btn-secondary">Back</a>
          </td>
        </tr>
      </table>
    </div>
    <div style="width: 20%"></div>
  </div>
</div>
