<div class="container-fuild">
  <div class="row" style="display: flex">
    <div style="width: 20%"></div>
    <div style="width: 60%">
<!--      <form [formGroup]="serviceForm" >-->
        <h2 style="text-align: center">Create facility</h2>
        <table class="table table-info table-hover">
          <thead>
          <tr>
            <th><label>Facility type</label></th>
            <td><select class="form-select">
              <option value="">---Option Type Facility---</option>
              <option value="1">House</option>
              <option value="2">Room</option>
              <option value="3">Villas</option>
            </select></td>
          </tr>
          <tr>
            <th><label>Name</label></th>
            <td><input class="form-control" type="text">
<!--              <p *ngIf="serviceForm.controls.dayEnd.hasError('required') &&  serviceForm.controls.dayEnd.touched">Không để trống</p>-->
            </td>
          </tr>
          <tr>
            <th><label>Area</label></th>
            <td><input class="form-control" type="text">
<!--              <p *ngIf="serviceForm.controls.area.hasError('pattern') &&  serviceForm.controls.area.touched">không hợp lệ</p>-->
<!--              <p *ngIf="serviceForm.controls.area.hasError('required') &&  serviceForm.controls.area.touched">không để trống</p>-->
            </td>
          </tr>
          <tr>
            <th><label>Cost</label></th>
            <td><input class="form-control" type="text">
<!--              <p *ngIf="serviceForm.controls.cost.hasError('pattern') &&  serviceForm.controls.cost.touched">không hợp lệ</p>-->
<!--              <p *ngIf="serviceForm.controls.cost.hasError('required') &&  serviceForm.controls.cost.touched">không để trống</p>-->
            </td>
          </tr>
          <tr>
            <th><label>Max people</label></th>
            <td><input class="form-control" type="text">
<!--              <p *ngIf="serviceForm.controls.maxPeople.hasError('pattern') &&  serviceForm.controls.maxPeople.touched">không hợp lệ</p>-->
<!--              <p *ngIf="serviceForm.controls.maxPeople.hasError('required') &&  serviceForm.controls.maxPeople.touched"> không để trống</p>-->
            </td>

          </tr>
          <tr>
            <th><label>Rent type</label></th>
            <td><select class="form-select">
              <option value="1">year</option>
              <option value="2">month</option>
              <option value="3">day</option>
              <option value="4">hour</option>
            </select></td>
          </tr>

          <tr>
            <th><label>Facility free</label></th>
            <td><input class="form-control" type="text">
<!--              <p *ngIf="serviceForm.controls.facilityFree.hasError('required') &&  serviceForm.controls.facilityFree.touched">không để trống</p>-->
            </td>
          </tr>
          <tr>
            <th><label>Number of floors</label></th>
            <td><input class="form-control" type="text">
<!--              <p *ngIf="serviceForm.controls.facilityFree.hasError('required') &&  serviceForm.controls.numberOfFloors.touched">không để trống</p>-->
            </td>

          </tr>
          <tr>
            <th><label>Standard room</label></th>
            <td><input class="form-select">
<!--              <p *ngIf="serviceForm.controls.standardRoom.hasError('required') &&  serviceForm.controls.standarRoom.touched">không để trống</p></td>-->

          </tr>
          <tr>
            <th><label>Description Other Convenience</label></th>
            <td><input class="form-control" type="text">
<!--              <p *ngIf="serviceForm.controls.descriptionOtherConvenience.hasError('required') &&  serviceForm.controls.descriptionOtherConvenience.touched">không để trống</p>-->
            </td>
          </tr>
          <tr>
            <th><label>Pool area</label></th>
            <td><input class="form-control" type="text">
<!--              <p *ngIf="serviceForm.controls.poolArea.hasError('pattern') &&  serviceForm.controls.poolArea.touched">không hợp lệ</p>-->
<!--              <p *ngIf="serviceForm.controls.poolArea.hasError('required') &&  serviceForm.controls.poolArea.touched"> không để trống</p></td>-->
          </tr>
          <tr>
            <td>
              <input class="btn btn-success" type="submit" [routerLink]="['/facility-list']" value="Save">
              <a class="btn btn-secondary" [routerLink]="['/facility-list']">Back</a>
            </td>
          </tr>
          </thead>
        </table>
<!--      </form>-->
    </div>
    <div style="width: 20%"></div>
  </div>
</div>
