<div class="container-fluid mt-3">
  <div class="container-fluid">
    <div class="row">
      <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: lemonchiffon">
        <div class="container-fluid">
          <a class="btn btn-primary" [routerLink]="['/contract-create']">Create contract</a>
          <h2 class="listfacitity">LIST CONTRACT</h2>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar me-auto">
            </ul>
            <form class="d-flex">
              <input class="form-control me-2" type="text" placeholder="Search">
              <button class="btn btn-primary" type="button">Search</button>
            </form>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="container-fuild">
    <div class="row">
      <div class="container table-responsive">
        <table style="text-align: center" class="table table-striped table-hover table-bordered">
          <thead>
          <tr class="bg-info">
            <th>No</th>
            <th>Facility</th>
            <th>Customer</th>
            <th>Day started</th>
            <th>Day end</th>
            <th>Deposits</th>
            <th>Total money</th>
            <th colspan="2">Attach service</th>
          </tr>
<!--          <tr *ngFor = "let c of contracts; index as i">-->
<!--            <td>{{i+1}}</td>-->
<!--            <td>{{c.facilityId.name}}</td>-->
<!--            <td>{{c.customerId.name}}</td>-->
<!--            <td>{{c.dayStart}}</td>-->
<!--            <td>{{c.dayEnd}}</td>-->
<!--            <td>{{c.deposit}}</td>-->
<!--            <td></td>-->
<!--            <td>-->
<!--              <button type="button" class="btn btn-primary" data-bs-toggle="modal"-->
<!--                      data-bs-target="#deleteModal">-->
<!--                +-->
<!--              </button>-->

<!--              &lt;!&ndash; Modal &ndash;&gt;-->
<!--              <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"-->
<!--                   aria-hidden="true">-->
<!--                <div class="modal-dialog">-->
<!--                  <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                      <h5 class="modal-title" id="exampleModalLabel"></h5>-->
<!--                      <button type="button" class="btn-close" data-bs-dismiss="modal"-->
<!--                              aria-label="Close"></button>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->
<!--                      <form>-->
<!--                        <div class="container">-->
<!--                          <table class="table table-striped">-->
<!--                            <tr>-->
<!--                              <td><label>Attach Facility</label></td>-->
<!--                              <td><select class="form-select">-->
<!--                                <option></option>-->
<!--                              </select></td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                              <td><label>Quantity</label></td>-->
<!--                              <td><input class="form-control" type="text"></td>-->
<!--                            </tr>-->
<!--                          </table>-->
<!--                        </div>-->
<!--                      </form>-->
<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close-->
<!--                      </button>-->
<!--                      <a type="submit" class="btn btn-primary">Save changes</a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </td>-->
<!--            <td>-->
<!--              <button type="button" class="btn btn-primary" data-bs-toggle="modal"-->
<!--                      data-bs-target="#deleteModal">-->
<!--                Attach-->
<!--              </button>-->

<!--              &lt;!&ndash; Modal &ndash;&gt;-->
<!--              <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"-->
<!--                   aria-hidden="true">-->
<!--                <div class="modal-dialog">-->
<!--                  <div class="modal-content">-->
<!--                    <div class="modal-header">-->
<!--                      <h5 class="modal-title" id="exampleModalLabel">Delete</h5>-->
<!--                      <button type="button" class="btn-close" data-bs-dismiss="modal"-->
<!--                              aria-label="Close"></button>-->
<!--                    </div>-->
<!--                    <div class="modal-body">-->
<!--                      <form>-->
<!--                        <div class="container">-->
<!--                          <table class="table table-striped">-->
<!--                            <tr>-->
<!--                              <td><label>Attach Facility</label></td>-->
<!--                              <td><select class="form-select">-->
<!--                                <option></option>-->
<!--                              </select></td>-->
<!--                            </tr>-->
<!--                            <tr>-->
<!--                              <td><label>Quantity</label></td>-->
<!--                              <td><input class="form-control" type="text"></td>-->
<!--                            </tr>-->
<!--                          </table>-->
<!--                        </div>-->
<!--                      </form>-->
<!--                    </div>-->
<!--                    <div class="modal-footer">-->
<!--                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close-->
<!--                      </button>-->
<!--                      <a type="submit" class="btn btn-primary">Save changes</a>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </td>-->
<!--          </tr>-->
          </thead>
        </table>
      </div>
    </div>
  </div>
  <div class="text-center">
    <a class="btn btn-secondary">Previous</a>
    1
    <span></span>
    /
    <span></span>
    3
    <a class="btn btn-secondary">Next</a>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
