<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Đăng ký
</button>

<!-- Modal -->
<form [formGroup]="registerForm" (ngSubmit)="submit()">
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Form đăng ký</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="emailFormControlInput1"
                 placeholder="name@example.com" formControlName="email">
          <p *ngIf="registerForm.controls.email.hasError('email') &&  registerForm.controls.email.touched">Email không hợp lệ</p>
          <p *ngIf="registerForm.controls.email.hasError('required') &&  registerForm.controls.email.touched">Email không để trống</p>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Password</label>
          <input type="password" class="form-control" id="passwordFormControlInput1"
                 placeholder="Enter the password" formControlName="password">
          <p *ngIf="registerForm.controls.password.hasError('minlength') &&  registerForm.controls.password.touched">password không hợp lệ</p>
          <p *ngIf="registerForm.controls.password.hasError('required') &&  registerForm.controls.password.touched">password không để trống</p>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Confirm password</label>
          <input type="password" class="form-control" id="confirmpasswordFormControlInput1"
                 placeholder="Enter the password" formControlName="confirmPassword">
          <p *ngIf="registerForm.controls.confirmPassword.hasError('minlength') &&  registerForm.controls.confirmPassword.touched">confirmPassword không hợp lệ</p>
          <p *ngIf="registerForm.controls.confirmPassword.hasError('required') &&  registerForm.controls.confirmPassword.touched">ConfirmPassword không để trống</p>
          <p *ngIf="registerForm.hasError('checkPass') && registerForm.controls.confirm.touched">Confirm không đúng</p>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Country</label>
          <select class="form-select" aria-label="Default select example" formControlName="country">
            <option selected></option>
            <option value="1">USA</option>
            <option value="2">JAPAN</option>
            <option value="3">VIETNAMESE</option>
          </select>
          <p *ngIf="registerForm.controls.country.hasError('required') &&  registerForm.controls.country.touched">Country không để trống</p>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Age</label>
          <input type="text" class="form-control" id="ageFormControlInput1" placeholder="Enter the age" formControlName="age">
          <p *ngIf="registerForm.controls.age.hasError('required') &&  registerForm.controls.age.touched">Age is not valid</p>
          <p *ngIf="registerForm.controls.age.hasError('min') &&  registerForm.controls.age.touched">Age > 18</p>
          <p *ngIf="registerForm.controls.age.hasError('max') &&  registerForm.controls.age.touched">Age < 100></p>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Gender</label>
          <br>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
            <label class="form-check-label" for="inlineRadio1" formControlName="gender"> Nam</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
            <label class="form-check-label" for="inlineRadio2" formControlName="gender"> Nữ</label>
          </div>
        </div>
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label">Phone</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter the phone" formControlName="phone">
          <p *ngIf="registerForm.controls.phone.hasError('pattern') &&  registerForm.controls.phone.touched">Phone đúng định dạng</p>
          <p *ngIf="registerForm.controls.phone.hasError('required') &&  registerForm.controls.phone.touched">Phone không để trống</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" [disabled]="!registerForm">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
</form>
