<p>product-list works!</p>
<p>product-list works!</p>
<table>
  <tr>
    <td>STT</td>
    <td>Tên</td>
    <td>Giá</td>
    <td>Mô tả</td>
  </tr>
  <tr *ngFor="let product of products; index as i">
    <td>{{i + 1}}</td>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.description}}</td>
    <td>
<!--      <a [routerLink]="['/product/delete',product.id]">Delete</a>-->
      <a (click)="getDataModal(product.id,product.name)" type="button" class="btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#deleteModal">
        Delete
      </a>
    </td>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Delete customer</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal"
                    aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Do you want delete customer <span>{{nameModal}}</span> with id {{idModal}} ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a class="btn btn-danger" data-bs-dismiss="modal" [routerLink]="['/product/delete',idModal]">Delete</a>
          </div>
        </div>
      </div>
    </div>
    <td><a [routerLink]="['/product/update',product.id]">Update</a></td>
  </tr>

</table>

