<div class="container-fuild">
  <div class="row">
    <h1 class="text-center my-1">Edit facility</h1>
    <form>
      <div class="container">
        <table class="table table-striped">
          <tr hidden>
            <th><label>Id</label></th>
            <td><input class="form-control" type="text"></td>
          </tr>
          <tr>
            <th><label>Name</label></th>
            <td><input class="form-control" type="text"></td>
          </tr>
          <tr>
            <th><label>Area</label></th>
            <td><input class="form-control" type="text"></td>
          </tr>
          <tr>
            <th><label>Cost</label></th>
            <td><input class="form-control" type="text"></td>
          </tr>
          <tr>
            <th><label>People</label></th>
            <td><input class="form-control" type="text"></td>
          </tr>
          <tr>
            <th><label>Standard</label></th>
            <td><input class="form-select" type="text">
            </td>
          </tr>
          <tr>
            <th><label>Description</label></th>
            <td><input class="form-control" type="text"></td>
          </tr>
          <tr>
            <th><label>Pool area</label></th>
            <td><input class="form-control" type="text"></td>
          </tr>
          <tr>
            <th><label>Floor</label></th>
            <td><input class="form-control" type="text"></td>
          </tr>
          <tr>
            <th><label>Facility free</label></th>
            <td><input class="form-control" type="text"></td>
          </tr>
          <tr>
            <th><label>Rent type</label></th>
            <td><select class="form-select">
              <option></option>
            </select></td>
          </tr>
          <tr>
            <th><label>Facility type</label></th>
            <td><select class="form-select">
              <option></option>
            </select></td>
          </tr>
          <tr>
            <td>
              <input class="btn btn-success" type="submit" value="Save">
              <a class="btn btn-secondary">Back</a>
            </td>
          </tr>
        </table>
      </div>
    </form>
  </div>
</div>
