<div class="container-fuild">
  <div class="row" style="display: flex">
    <div style="width: 35%"></div>
    <div style="width: 30%">
      <h2 class="text-center my-5">Tạo mới bệnh án</h2>
      <form [formGroup]="benhanForm" (ngSubmit)="submit()">
        <div class="row">
          <div class="mb-3">
            <label class="form-label">Mã bệnh án</label>
            <select id="inlineFormSelectPref" class="form-select" formControlName="maBenhAn">
              <option value="null" selected disabled>----Mã bệnh án----</option>
              <option *ngFor="let m of maBenhAns" [ngValue]="m.id">{{m.name}}</option>
            </select>
            <div>
              <p *ngIf="benhanForm.controls.maBenhAn.hasError('required') && benhanForm.controls.maBenhAn.touched">Không
                được để trống</p>
              <p *ngIf="benhanForm.controls.maBenhAn.hasError('pattern') && benhanForm.controls.maBenhAn.touched">Không
                đúng định dạng</p>
            </div>
          </div>
          <div class="mb-3">
            <label class="form-label">Mã bệnh nhân</label>
            <select id="inlineFormSelectPref1" class="form-select" formControlName="maBenhNhan">
              <option value="null" selected disabled>----Mã bệnh nhân----</option>
              <option *ngFor="let b of maBenhNhans" [ngValue]="b.id">{{b.name}}</option>
            </select>
            <div>
              <p *ngIf="benhanForm.controls.maBenhNhan.hasError('required') && benhanForm.controls.maBenhNhan.touched">
                Không
                được để trống</p>
              <p *ngIf="benhanForm.controls.maBenhNhan.hasError('pattern') && benhanForm.controls.maBenhNhan.touched">
                Không đúng định dạng</p>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">Tên bệnh nhân</label>
            <input type="text" class="form-control" formControlName="tenBenhNhan" placeholder="Nhập tên bệnh nhân">
            <div>
              <p
                *ngIf="benhanForm.controls.tenBenhNhan.hasError('required') && benhanForm.controls.tenBenhNhan.touched">
                Không được để trống</p>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">Ngày nhập viện</label>
            <input type="date" class="form-control" formControlName="ngayNhapVien" placeholder="Nhập ngày nhập viện">
            <div>
              <p
                *ngIf="benhanForm.controls.ngayNhapVien.hasError('required') && benhanForm.controls.ngayNhapVien.touched">
                Không được để trống</p>
            </div>
          </div>

          <div class=" mb-3">
            <label class="form-label">Ngày ra viện</label>
            <input type="date" class="form-control" formControlName="ngayRaVien" placeholder="Nhập ngày ra viện">
            <div>
              <p *ngIf="benhanForm.controls.ngayRaVien.hasError('required') && benhanForm.controls.ngayRaVien.touched">
                Không được để trống</p>
            </div>
          </div>

          <div class=" mb-3">
            <label class="form-label">Lí do</label>
            <input type="text" class="form-control" formControlName="liDo" placeholder="Nhập lí do">
            <div>
              <p *ngIf="benhanForm.controls.liDo.hasError('required') && benhanForm.controls.liDo.touched">
                Không được để trống</p>
            </div>
          </div>

          <div class="mb-3">
            <label class="form-label">Phương pháp</label>
            <input type="text" class="form-control" formControlName="phuongPhap" placeholder="Nhập phương pháp">
            <div>
              <p *ngIf="benhanForm.controls.phuongPhap.hasError('required') && benhanForm.controls.phuongPhap.touched">
                Không được để trống</p>
            </div>
          </div>

          <div class=" mb-3">
            <label class="form-label">Bác sĩ</label>
            <input type="text" class="form-control" formControlName="bacSi" placeholder="Nhập bác sĩ">
            <div>
              <p *ngIf="benhanForm.controls.bacSi.hasError('required') && benhanForm.controls.bacSi.touched">
                Không được để trống</p>
            </div>
          </div>
        </div>

        <button class="btn btn-success" type="submit" value="Save">Save</button>
        <a class="btn btn-secondary" [routerLink]="['/benhAn/benhan-list']">Back</a>
      </form>
    </div>
    <div style="width: 35%"></div>
  </div>
</div>
