<div class="container-fluid">
  <div class="row" style="height: 155px">
    <div class="header col-m-12 col-12 fixed-top">
      <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <ul class="navbar-nav mr-auto">
          <div class="container-fluid" style="height: 100px">
            <div class="collapse navbar-collapse" id="mynavbar">
              <div>
                <a><img src="../../assets/img/logo111.jpg"alt="Logo" class="img1" style="width: 90px; height: 90px"/></a>
              </div>
              <div>
                <img src="../../assets/img/img1166.jpg" class="img2 rounded-circle"
                     style="width: 160px; height: 90px"/></div>
              <div>
                <a class="icon1">
                  <i class="bi bi-geo-alt-fill"></i>
                </a>
              </div>
              <div>
                <p class="p1"> 103 – 105 Đường Võ Nguyên Giáp, <br>
                  Phường Khuê Mỹ, Quận Ngũ hành Sơn, Tp. Đà Nẵng, Việt Nam.
                  <br>
                  <br>
                  7.0 km từ Sân bay Quốc tế Đà Nẵng</p>
              </div>
              <div>
                <a class="icon2">
<!--                  <ion-icon name="call-outline"></ion-icon>-->
                  <i class="bi bi-telephone-inbound-fill"></i>
                </a>
                <div>
                  <p class="phone">
                    84-236-3847 333/888
                  </p>
                </div>

              </div>
              <div>
                <a class="icon3">
<!--                  <ion-icon name="mail-open-outline"></ion-icon>-->
                  <i class="bi bi-envelope-open-fill"></i>
                </a>
              </div>
              <div>
                <p class="email">reservation@furamavietnam.com</p>
              </div>
            </div>
          </div>
        </ul>
      </nav>
      <nav class="navbar navbar-expand-sm bg-success navbar-dark">
        <ul class="navbar-nav">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="mynavbar">
              <li class="nav-item">
                <a class="nav-link active"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"></a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"></a>
              </li>
              <li class="nav-item">
                <a class="btn btn-outline-dark text-white" href="/home">HOME</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"></a>
              </li>
              <li class="nav-item">
                <a class="btn btn-outline-dark text-white" href="/customer">CUSTOMER</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"></a>
              </li>
              <li class="nav-item">
                <a class="btn btn-outline-dark text-white" href="/facility/list">FACILITY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"></a>
              </li>
              <li class="nav-item">
                <a class="btn btn-outline-dark text-white" href="/contract/list">CONTRACT</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"></a>
              </li>
              <li class="nav-item">
                <a class="btn btn-outline-dark text-white" href="/contract">CULINARY</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active"></a>
              </li>
              <li class="nav-item">
                <a class="btn btn-outline-dark text-white" href="/contract">ENTERTAINMENT</a>
              </li>
            </div>
          </div>
        </ul>
      </nav>
    </div>
  </div>
</div>
