<div class="container-fuild">
  <div class="row"  style="display: flex">
    <div style="width: 20%"></div>
    <div style="width: 60%">
      <h2 class="text-center my-5">Create customer</h2>
      <form>
        <div class="container">
          <table class="table table-striped">
            <tr>
              <td><label>Name</label></td>
              <td><input class="form-control" type="text"></td>

            </tr>
            <tr>
              <td><label>Day of birth</label></td>
              <td><input class="form-control" type="date"></td>
            </tr>
            <tr>
              <td><label>Gender</label></td>
              <td><select class="form-select">
                <option value="true">Nam</option>
                <option value="false">Nữ</option>
              </select></td>
            </tr>
            <tr>
              <td><label>Id card</label></td>
              <td><input class="form-control" type="text"></td>

            </tr>
            <tr>
              <td><label>Number phone</label></td>
              <td><input class="form-control" type="text"></td>

            </tr>
            <tr>
              <td><label>Email</label></td>
              <td><input class="form-control" type="text"></td>

            </tr>
            <tr>
              <td><label>Address</label></td>
              <td><input class="form-control" type="text"></td>

            </tr>
            <tr>
              <td><label>Customer type</label></td>
              <td><select class="form-select" >
                <option>
                </option>
              </select> </td>
            </tr>
            <tr>
              <td>
                <input class="btn btn-success" type="submit" value="Save">
                <a class="btn btn-secondary">Back</a>
              </td>
            </tr>
          </table>
        </div>
      </form>
    </div>
    <div style="width: 20%"></div>
  </div>
</div>
